.hpr-main{
    background-color: #ece8e1;
    height: 561px;
    width: 519px;
    margin-right: 60px;
    flex-shrink: 0;
    background-image: url("https://static.paraluni.org/images/infiweb/roadmap_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 33px;
    padding-left: 40px;
    padding-right: 60px;
}
.hpr-fontA{
    font-size: 22px;
    font-weight: 500;
    color: #1b1a1a;
    margin-left: 15px;
}
.hpr-fontB{
    font-size: 40px;
    font-weight: 500;
    color: #1b1a1a;
    margin-left: 5px;
    line-height: 40px;
}
