body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face
{
    font-family: 'Arial_Black';
    src: url('./static/Arial_Black.ttf');
    font-weight: normal;  
    font-style: normal;  
}
@font-face
{
    /* dev */
    font-family: 'MuktaMahee';
    src: url('./static/MuktaMahee-Regular.ttf'); 
    font-weight: normal;  
    font-style: normal;  
}
*{
    font-family: 'MuktaMahee';
}
/*html body {*/
/*  min-height: 100vh;*/
/*  font-family: PingFang SC-Medium, PingFang SC, serif;*/
/*  background-size: auto auto;*/
/*  background-color: #1d1f2b;*/
/*  !*background-repeat: no-repeat;*!*/
/*}*/
