.top-body {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-left: 70px;
    padding-right: 70px;
}

.pheader {
    height: 100px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.13);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}
.pheader-contact{
    width: 160px;
    height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(106deg, #edb748 6%, #f5956c 22%, #f360c1 38%, #a95ffc 63%, #488df5 81%, #0ed2c3 102%, #0bc878 161%);
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.pfontA {
    color: #fff;
    font-size: 56px;
    font-weight: bold;
    line-height: 1.65;
    width: fit-content;
    text-align: center;
}

.pfontB {
    color: #fff;
    font-size: 18px;
    line-height: 1.65;
}
.pfontC{
    font-size: 190px;
    font-weight: bold;
    color: #fff;
}
.pfontD{
    font-size: 69px;
    font-weight: bold;
    color: #fff;
}
.pfontE{
    font-size: 18px;
    font-weight: 600;
    color:rgba(255,255,255,0.7);
    margin-right: 60px;
    cursor: pointer;
}
.pfontF{
    background-image:-webkit-linear-gradient(118deg, #edb748 2%, #f5956c 18%, #f360c1 34%, #a95ffc 59%, #488df5 76%, #0ed2c3 97%, #0bc878 155%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.pfontE:hover{
    background-image:-webkit-linear-gradient(118deg, #edb748 2%, #f5956c 18%, #f360c1 34%, #a95ffc 59%, #488df5 76%, #0ed2c3 97%, #0bc878 155%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.ptwo{
    height: 1007px;
   background-image: url("image/pc_bg3.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.pcircle{
    width: 18px;
    height: 18px;
    background-image: linear-gradient(132deg, #edb748 -3%, #f5956c 12%, #f360c1 28%, #a95ffc 52%, #488df5 69%, #0ed2c3 89%, #0bc878 146%);
    border-radius: 50px;
    z-index: 1;
    flex-shrink: 0;
}
.pthree{
    height: 1165px;
    background-image: url("image/pc_bg4.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.pline{
    width: 4px;
    background-image: linear-gradient(179deg, #edb748 8%, #f5956c 24%, #f360c1 40%, #a95ffc 66%, #488df5 84%, #0ed2c3 104%, #0bc878 164%);
    position: absolute;
    top: 18px;
    bottom: 18px;
    left: 7px;
    z-index: 0;
}
.pfour{
    height: 1013px;
    background-image: url("image/pc_bg5.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.ptextA{
    background-image: url("image/pc_bg6.svg");
    height: 262px;
    width: 479px;
}
.ptextB{
    background-image: url("image/pc_bg7.svg");
    height: 302px;
    width: 479px;
    background-repeat:  no-repeat;
}
.ptextC{
    background-image: url("image/pc_bg8.svg");
    height: 262px;
    width: 479px;
    background-repeat:  no-repeat;
}
.ptextD{
    background-image: url("image/pc_bg9.svg");
    height: 352px;
    width: 479px;
    background-repeat:  no-repeat;
}
.pfive{
    background-color: #1d1f2b;
}
.psix{
    background-image: url("image/pc_bg10.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.pteam{
    flex: 0.4;
    max-width: 590px;
    background-image: url("image/pc_bg11.png");
    height: 560px;
    background-size: 100% 100%;
    cursor: pointer;
    position: relative;
}
.pteam-12{
    background-image: url("image/pc_bg12.png");
}
.pteam-13{
    background-image: url("image/pc_bg13.png");
}
.pteam-14{
    background-image: url("image/pc_bg14.png");
}
.pteam-top{
    height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    padding-right: 40px;
}
.pteam-bottom{
    flex: 1;
    -webkit-backdrop-filter: blur(33px);
    backdrop-filter: blur(33px);
    background-image: linear-gradient(to right, rgba(181, 22, 255, 0.26) -1%, rgba(2, 233, 248, 0.49) 100%);
    border-radius: 0 0 16px 16px;
}
.pbutton{
    width: 29px;
    height: 29px;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    background-image: linear-gradient(to bottom, #fff 0%, rgba(255, 255, 255, 0.31) 100%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pbutton-circle{
    width: 11px;
    height: 11px;
    opacity: 0.67;
    background-color: #57ffeb;
    border-radius: 50px;
}
.pteam-position{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.76);
    font-size: 18px;
    color: #ffffff;
    line-height: 1.65;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-in;

}
.pteam:hover .pteam-position{
    height: 560px;
    padding: 20px;
}
.pfontBottom{
    font-size: 18px;
    color: #93989a;
    margin-top: 179px;
    margin-bottom:80px ;
    text-align: center;
}
.ppop{
    background-color: #242634;
}
.ppop-font{
    font-size: 20px;
    font-weight: 500;
    color:#ffffff;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.plink{
    height: 150px;
    background-color: #20222e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}
